
html, body {
	overflow-x: hidden;
}


html {
	background: url('/img/background.jpg') no-repeat;
	background-position: center;
	background-attachment: fixed;
}
body {
	background:transparent;
}


/* Welcome View (Register, Login etc) */

#welcome-view-container {
	width:500px;
	min-height:480px;
	margin:70px auto;
}

#welcome-view-header {
	text-align:center;
	margin-top:40px;

	background-color:#FFFFFF;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #F9F9F9);
	background-image: linear-gradient(to bottom, #FFFFFF, #F9F9F9);

	padding:7px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom:1px solid #E5E5E5;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1);
	font-family: 'Dancing Script', cursive;
	font-size:58px;
	color:#4EA8D7;
}

#register-view-form, #login-view-form {
	padding:10px 70px;
}

#register-successful-message {
	color:#429B38;
	text-align:center;
	line-height:250px;
}

.initial-loading {
	display:block;
	text-align:center;
	width:100%;
	line-height:450px;
}



/* Register/Login Form Validation styling */

#welcome-view-container .error {
	margin-top:5px;
	color:rgb(207, 20, 20);
	font-weight:normal;
}

/*  */


/* ProfileView */
#profile-view-container {
	width:800px;
	min-height:480px;
	margin:180px auto 70px auto;
	min-height:450px;
	background:#ffffff;
}

#profile-image {
	width:190px;
	height:160px;
	background:#ffffff;
	position:relative;
	margin-left:50%;
	padding:5px;
	left:-95px;
	top:-120px;
	box-shadow:0 0 6px rgba(0, 0, 0, .3);
	border-radius:3px;
}

#profile-image img {
	width:180px;
	height:150px;
}

#profile-header-bar {
	border-top-right-radius:inherit;
	border-top-left-radius:inherit;

	width:800px;
	height:60px;

	background-color: #F9F9F9;
	background-image: -webkit-linear-gradient(top, #F9F9F9, #EFEFEF); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image:         linear-gradient(to bottom, #F9F9F9, #EFEFEF); /* Chrome 26, Firefox 16+, IE 10+, Opera */

	border-top:1px solid #FFF;
	border-bottom:1px solid #D0D0D0;
	box-shadow: inset 0 -2px 1px rgba(0, 0, 0, .1);
}

#profile-container {
	padding:10px;
}

.profile-information {
	font-family: 'Cabin', sans-serif;
}

#user-post-content {
	min-height:180px;
	max-width:100%;
}

.post {
	background:#FCFCFC;
	padding:10px;
	box-shadow:inset 0 0 3px rgba(0, 0, 0, .2);
	border-radius:3px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1);
}

.post .post-author {
	border-bottom:1px dashed #ccc;
	padding-bottom:7px;
}

.post .post-body {
	letter-spacing:0.5px;
}

.no-posts {
	color:#7C7C7C;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1);
}

/* Utility methods */


.view-container {
	background:#ffffff;
	border-radius:3px;
	box-shadow:0 0 6px rgba(0, 0, 0, .3);
}

.inline-text-center {
	display:block;
	text-align:center;
}

.margin-top-60 {
	margin-top:60px;
}

.margin-top-40 {
	margin-top:40px;
}

.margin-top-20 {
	margin-top:20px;
}

.fill-width {
	display:block;
	width:100%;
}


@media all and (max-width: 840px) {
	body, html {
		/* Large images load ridiculously  */
		background: url('/img/background_small_1.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: top;
	}

	.view-container {
		width:100%;
		border-radius: none;
		box-shadow: none;
	}

	#welcome-view-container,
	#profile-view-container {
		width:100%;
		margin-bottom:0;
	}

	#welcome-view-container, #welcome-view-header {
		margin:0;
		border-radius:0px;
	}

	#profile-header-bar {
		border-radius: 0px;
		width:100%;
	}

	/* Overriding these styles when the size go way down. */
	.container-fluid {
		padding-left:0;
		padding-right:0;
	}


	/* Profile specific */
	.profile-information div {
		margin-bottom:25px;
	}

	#register-view-form, #login-view-form {
		max-width:460px;
		margin: 0 auto;
		padding:10px 30px;

	}
}













