<h2 id="login-view-header">Twidder</h2>
<h3 class="text-center">Login</h3>
<br />
<p class="inline-text-center"><i>Hey! Welcome back.</i></p>

<br />
<form id="register-view-form">
	<div class="form-group">
		<input type="email" class="form-control" id="login-email" placeholder="Email">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>

	<button type="submit" class="btn btn-primary fill-width pull-right">Login</button>
	<div class="clearfix"></div>
</form>
<br /><br />
<i class="inline-text-center">Not a member?</i><br /><a href="#register" class="inline-text-center">Register</a>
<br /><br /><br />