<h2 id="login-view-header">Twidder</h2>
<h3 class="text-center">Register</h3>
<br />
<p class="inline-text-center"><i>Fill in the form below and take a leap into the world of Twidder.</i></p>

<br />
<form id="register-view-form">
	<div class="form-group">
		<input type="email" class="form-control" id="register-email" placeholder="First name">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Family name">
	</div>

	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>

	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="City">
	</div>

	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Country">
	</div>

	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
	</div>

	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>

	<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repeat Password">
	</div>

	<button type="submit" class="btn btn-primary fill-width pull-right">Register</button>
	<div class="clearfix"></div>
</form>
<br /><br />
<i class="inline-text-center">Already a member?</i><br /><a href="#login" class="inline-text-center">Login</a>
<br /><br /><br />